$color-primary-light: #ff3366;
$color-primary: #eb2f64;
$color-primary-dark: #ba265d;

$color-gray-700: #3f3f46;
$color-gray-600: #52525b;
$color-gray-500: #71717a;
$color-gray-300: #d4d4d8;
$color-gray-100: #f4f4f5;

@mixin flex-center-v($gap) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin respond($display) {
  @if $display == tab-land {
    @media (max-width: 76em) {
      @content;
    }
  }

  @if $display == tab-port {
    @media (max-width: 57em) {
      @content;
    }
  }

  @if $display == phone {
    @media (max-width: 35em) {
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.75;
  background-color: $color-gray-100;
  color: $color-gray-700;
}

// typography from type-scale.com

h1,
h2,
h3,
h4,
h5 {
  // margin-bottom: 1.38rem;
  line-height: 1.3;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

.margin-bottom-l {
  margin-bottom: 6.4rem;
}

.margin-bottom-m {
  margin-bottom: 4.8rem;
}

.margin-bottom-s {
  margin-bottom: 2.4rem;
}

.margin-bottom-xs {
  margin-bottom: 1.4rem;
}

@include respond(tab-port) {
  .margin-bottom-l {
    margin-bottom: 4.8rem;
  }

  .margin-bottom-m {
    margin-bottom: 3.6rem;
  }

  .margin-bottom-s {
    margin-bottom: 1.8rem;
  }

  .margin-bottom-xs {
    margin-bottom: 1rem;
  }
}

.btn {
  text-decoration: none;
  white-space: nowrap;
  transition: 0.25s ease-out;
  overflow: hidden;

  &--primary {
    text-transform: uppercase;
    color: $color-primary;
    padding: 1.2rem 3.6rem;
    font-weight: 500;
    border: 2px solid $color-primary;
    border-radius: 50rem;

    &:hover {
      background: $color-primary;
      color: white;
    }
  }

  &--text {
    color: inherit;
    position: relative;

    &::before {
      content: "";
      background: currentColor;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      transition: 0.25s ease-out;
    }

    &:hover::before {
      width: 50%;
    }
  }
}

hr {
  margin: 2.4rem 1.2rem;
  background: $color-gray-300;
  border: none;
  height: 1px;
}
