.search {
  flex: 0 0 25%;
  background: lighten($color-gray-300, 5%);
  @include flex-center-v(0);
  padding: 1rem 1.8rem;
  border-radius: 0.8rem;

  @media (max-width: 28em) {
    order: 1;
    flex: 0 0 100%;
  }

  &:focus {
    background: $color-gray-300;
  }

  &__input {
    flex: 1;
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    background: none;

    &::placeholder {
      color: $color-gray-500;
    }

    &:focus {
      outline: none;
    }
  }

  &__icon {
    border: none;
    background: none;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: 0.15s ease-out;

    svg {
      stroke: currentColor;
    }

    &:focus {
      outline: none;
    }

    &:active {
      transform: scale(0.85);
    }
  }
}

.user-nav {
  @include flex-center-v(2.4rem);

  &__link {
    @include flex-center-v(0);
    position: relative;
  }

  &__icon {
    stroke: $color-gray-600;
    width: 2.4rem;
    height: 2.4rem;
  }

  &__notif {
    width: 1.75rem;
    height: 1.75rem;
    background: $color-primary-light;
    color: white;
    font-size: 1rem;
    border-radius: 50%;
    position: absolute;
    top: -0.75rem;
    right: -0.75rem;
    @include flex-center-v(0);
    justify-content: center;
  }
}

.user__profile {
  @include flex-center-v(0.8rem);
  text-decoration: none;
  color: $color-gray-700;

  &-pic {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid $color-primary;
    padding: 1px;
  }
}

/////////////////////////////////////
//// side bar
.side-nav {
  &__link {
    padding: 1.2rem 1.8rem;
    @include flex-center-v(1.4rem);
    border-radius: 0.8rem;
    text-decoration: none;
    color: $color-gray-500;
    transition: 0.25s ease-out;

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }

    span {
      text-transform: uppercase;

      @include respond(phone) {
        display: none;
      }
    }

    &:hover:not(.active) {
      color: $color-gray-700;
      background: darken($color-gray-100, 5%);
    }

    &.active,
    &:active {
      background: $color-gray-100;
      color: $color-gray-700;
    }
  }
}

/////////////////////////////////////
//// hotel overview

.hotel {
  &__overview {
    @include flex-center-v(2.4rem);

    &-item {
      @include flex-center-v(0.8rem);
      font-size: 1.6rem;

      svg {
        width: 1.8rem;
        height: 1.8rem;
        stroke: $color-primary;
        fill: $color-primary;
      }
    }
  }

  &__gallery {
    @include flex-center-v(1.8rem);
    width: 100%;

    @include respond(phone) {
      gap: 0.4rem;
    }

    &-img {
      display: block;
      width: 100%;
      border-radius: 0.8rem;
      box-shadow: 0 0.5rem 2rem rgba($color-gray-700, 0.3);
    }
  }

  &__details {
    display: flex;
    gap: 4.8rem;

    @media (max-width: 45em) {
      flex-direction: column;
    }
  }

  &__description {
    flex: 0 0 60%;
  }

  &__review {
    flex: 1;
  }
}

/////////////////
///  description

.features {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 24.5em) {
    padding: 0 1.8rem;
  }

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.8rem;
    position: relative;

    @media (max-width: 24.5em) {
      flex: 0 0 100%;
    }

    &::before {
      content: "";
      display: inline-block;
      margin-right: 0.7rem;
      width: 1.25rem;
      height: 1.25rem;
      background-color: $color-primary;
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
    }
  }
}

/////////////////
///   cta
.cta {
  text-align: center;

  p {
    font-size: 1.8rem;
  }
}

/////////////////
///   reviews

.hotel__review {
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn {
    color: $color-primary;
  }
}

.review {
  &__topbar {
    width: 100%;
    @include flex-center-v(0);
    justify-content: space-between;

    .average-rating {
      @include flex-center-v(0.8rem);

      svg {
        width: 2.4rem;
        height: 2.4rem;
        fill: $color-primary;
      }
    }

    .rating-count {
      font-size: 1.4rem;
      font-weight: 700;
      color: $color-gray-600;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__item {
    padding: 1.2rem;
  }

  &__user {
    @include flex-center-v(1.2rem);
    justify-content: space-between;
    margin-bottom: 0.8rem;

    &-img {
      width: 6rem;
      border-radius: 50%;
      border: 2px solid white;
      box-shadow: 0 0 2rem rgba($color-gray-700, 0.2);
    }

    &-text {
      margin-right: auto;
      line-height: 1.5;
    }
    &-name {
      text-transform: uppercase;
      font-weight: 500;
    }

    .review__date {
      font-size: 1.2rem;
      color: $color-gray-500;
    }

    &-rating {
      font-size: 2.4rem;
      font-weight: 500;
      color: $color-primary-light;
      margin-right: 1.2rem;
    }
  }
  &__text {
    font-size: 1.6rem;
    color: $color-gray-600;
  }
}
