.header {
  position: sticky;
  top: 0;
  left: 0;
  background: inherit;
  height: 7rem;
  padding: 0 2.4rem;
  @include flex-center-v(1rem);
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 10;

  @media (max-width: 28em) {
    height: fit-content;
    padding: 0.8rem 1.2rem;
  }

  &__logo-img {
    height: 3.25rem;
  }
}

.main {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.side-nav {
  white-space: nowrap;
  flex: 0 0 20%;
  background: $color-gray-300;
  border-top-right-radius: 1rem;
  padding: 3.6rem 1.8rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  @include respond(tab-land) {
    padding: 3.6rem 1.4rem;
  }

  @media (max-width: 62em) {
    padding: 1.2rem;
    height: fit-content;
    box-shadow: 0 0.5rem 2rem rgba($color-gray-700, 0.2);
    border-radius: 0.8rem;
    flex-direction: row;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  @include respond(phone) {
    width: 90%;
    justify-content: space-around;
  }
}

.hotel {
  flex: 1;
  padding: 3.6rem;

  @include respond(tab-land) {
    padding: 2.4rem;
  }

  @include respond(tab-port) {
    padding: 1.6rem;
  }
}
